@{
    ViewBag.Title = "Home Page";
}

<main>
<h1>Welcome to Recipes App</h1>
    <p>Here you can add recipes</p>
<p>To add a recipe click the button <a href="@Url.Action("Add", "Recipe")">Add</a></p>
</main>